# Comprehension Practice

In [2]:
import pandas as pd
import numpy as np
import random

# Create a list of odd numbers from 5 to 27 inclusive
odd = [i for i in range(5, 29, 2)]
print(odd)

[5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27]

In [3]:
# create a list of numbers divisible by 7 or 11 that are between 1 and 100
nums = [i for i in range(1, 101) if (i % 7 == 0) or (i % 11 == 0)]
print(nums)

[7, 11, 14, 21, 22, 28, 33, 35, 42, 44, 49, 55, 56, 63, 66, 70, 77, 84, 88, 91, 98, 99]

In [4]:
# create a list of the squares from 1 to 100. [ 1, 4, 9, 16, 25, ... 100]
squares = [i**2 for i in range(1, 11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [19]:
# use random.randint() to create a list of 50 random numbers from 13-33 inclusive
nums = [random.randint(13, 33) for i in range(50)]
print(nums)

# create a list of 50 random numbers from 65-100 inclusive
scores = [random.randint(65, 100) for i in range(50)]
print(scores)

# create a list of 50 random letters from 'a' to 'm' inclusive
letters = [chr(random.randint(97, 109)) for i in range(50)] # does this work -?!
print(letters)

# create a dataframe with 3 columns and 50 rows
# letter :  a random letter selected from 'a' to 'm'
# num : a random number between 13 - 33 inclusive
# score : a random number between 65 - 100 inclusive

df = pd.DataFrame({
    'letter' : letters,
    'num' : nums,
    'score' : scores
})

print(df)

[33, 17, 16, 21, 26, 23, 23, 29, 16, 19, 33, 22, 32, 15, 13, 26, 18, 24, 21, 17, 30, 27, 22, 30, 25, 31, 25, 20, 15, 28, 28, 16, 23, 29, 21, 17, 28, 32, 15, 17, 25, 22, 26, 21, 13, 28, 19, 27, 31, 31]
[77, 94, 91, 85, 71, 74, 89, 71, 77, 66, 71, 95, 88, 72, 98, 85, 89, 76, 98, 66, 74, 98, 77, 72, 95, 90, 70, 85, 74, 80, 80, 78, 100, 85, 89, 74, 67, 85, 89, 81, 86, 70, 87, 66, 100, 87, 84, 75, 100, 74]
['c', 'm', 'f', 'e', 'b', 'b', 'l', 'm', 'a', 'm', 'f', 'm', 'g', 'j', 'a', 'j', 'e', 'k', 'd', 'c', 'f', 'j', 'l', 'f', 'd', 'd', 'k', 'f', 'j', 'g', 'd', 'b', 'm', 'f', 'b', 'd', 'e', 'l', 'g', 'e', 'b', 'k', 'g', 'l', 'k', 'j', 'm', 'j', 'k', 'h']
   letter  num  score
0       c   33     77
1       m   17     94
2       f   16     91
3       e   21     85
4       b   26     71
5       b   23     74
6       l   23     89
7       m   29     71
8       a   16     77
9       m   19     66
10      f   33     71
11      m   22     95
12      g   32     88
13      j   15     72
14      a   13     98
15      j   26     85
16      e   18     89
17      k   24     76
18      d   21     98
19      c   17     66
20      f   30     74
21      j   27     98
22      l   22     77
23      f   30     72
24      d   25     95
25      d   31     90
26      k   25     70
27      f   20     85
28      j   15     74
29      g   28     80
30      d   28     80
31      b   16     78
32      m   23    100
33      f   29     85
34      b   21     89
35      d   17     74
36      e   28     67
37      l   32     85
38      g   15     89
39      e   17     81
40      b   25     86
41      k   22     70
42      g   26     87
43      l   21     66
44      k   13    100
45      j   28     87
46      m   19     84
47      j   27     75
48      k   31    100
49      h   31     74

In [27]:
# create a list of letters in the generate dataframe that have a score > 90
# use df.loc and range()
gt90 = [df.loc[i, 'letter'] for i in range(len(df)) if df.loc[i, 'score'] > 90]
print(gt90)

# same thing, but use filters
gt90 = list(df[df['score'] > 90]['letter'])
print(gt90)

# print out a sorted list of unique letters in df that have a score > 90.
# Hint: use gt90 and sets
un_gt90 = sorted(set(gt90))
print(un_gt90)

['m', 'f', 'm', 'a', 'd', 'j', 'd', 'm', 'k', 'k']
['m', 'f', 'm', 'a', 'd', 'j', 'd', 'm', 'k', 'k']
['a', 'd', 'f', 'j', 'k', 'm']

In [36]:
# find the count of times each letter appears in the df
counts = df['letter'].value_counts()
print(counts)

# find the count of times each letter has a score above 90
counts = df[df['score'] > 90]['letter'].value_counts()
print(counts)

# print the letter that has a score above 90 the most number of times
print('most above 90', counts.idxmax())

letter
m    6
f    6
j    6
b    5
k    5
d    5
l    4
e    4
g    4
c    2
a    2
h    1
Name: count, dtype: int64
letter
m    3
d    2
k    2
f    1
a    1
j    1
Name: count, dtype: int64
most above 90 m

In [39]:
# create a dataframe with two columns:
# letter 'a' - 'm'
# state: random from ['WA', 'CA', 'OR', 'NV' ]
# using a comprehension, create a list of letters a-m, inclusive
letters = [chr(i) for i in range(97, 110)]
# using random.choice, create a list of length 13 that is a random
# selection of states in ['WA', 'CA', 'OR', 'NV' ]
states = [random.choice(['WA', 'CA', 'OR', 'NV']) for i in range(13)]
# create a dataframe that has two columns, 'letter' and 'state' using
# the two lists created above
df2 = pd.DataFrame({
    'letter' : letters,
    'state' : states
})
print(df2)

   letter state
0       a    CA
1       b    WA
2       c    NV
3       d    WA
4       e    CA
5       f    OR
6       g    OR
7       h    CA
8       i    NV
9       j    OR
10      k    OR
11      l    WA
12      m    OR

In [40]:

# join the above DataFrame with this latest dataframe, df2, that has states.
# The joined dataframe should have all 50 rows from df.
df3 = df.merge(df2, on='letter', how='left')

# display the first 10 rows of the resulting join.
print(df3.head(10))

  letter  num  score state
0      c   33     77    NV
1      m   17     94    OR
2      f   16     91    OR
3      e   21     85    CA
4      b   26     71    WA
5      b   23     74    WA
6      l   23     89    WA
7      m   29     71    OR
8      a   16     77    CA
9      m   19     66    OR

In [45]:
# display the state that has the greatest number of unique letters.
most_unique = df3.groupby('state')['letter'].nunique().idxmax()
print('most unique', most_unique)

# display all those unique letters in that state (any order)
most_unique_letters = df3[df3['state'] == most_unique]['letter'].unique()
print(most_unique_letters)

most unique OR
['m' 'f' 'g' 'j' 'k']

In [46]:
# for each of these letters, get the highest score they have
# then, display the letters in order from highest to lowest.
# display this as a Series where the index is the letter, and the score is the value.
highest_scores = df.groupby('letter')['score'].max()
sorted_highest_scores = highest_scores.sort_values(ascending=False)
print(sorted_highest_scores)

letter
k    100
m    100
a     98
d     98
j     98
f     91
e     89
b     89
l     89
g     89
c     77
h     74
Name: score, dtype: int64