# Comprehension Practice

In [ ]:
import pandas as pd
import numpy as np
import random

# Create a list of odd numbers from 5 to 27 inclusive
odd = 
print(odd)

In [ ]:
# create a list of numbers divisible by 7 or 11 that are between 1 and 100
nums = 
print(nums)

In [ ]:
# create a list of the squares from 1 to 100. [ 1, 4, 9, 16, 25, ... 100]
squares = 
print(squares)

In [ ]:
# use random.randint() to create a list of 50 random numbers from 13-33 inclusive
nums =
print(nums)

# create a list of 50 random numbers from 65-100 inclusive
scores = 
print(scores)

# create a list of 50 random letters from 'a' to 'm' inclusive
letters = 
print(letters)

# create a dataframe with 3 columns and 50 rows
# letter :  a random letter selected from 'a' to 'm'
# num : a random number between 13 - 33 inclusive
# score : a random number between 65 - 100 inclusive

df =

In [ ]:
# create a list of letters in the generate dataframe that have a score > 90
# use df.loc and range()
gt90 = 
print(gt90)

# same thing, but use filters
gt90 = 
print(gt90)

# print out a sorted list of unique letters in df that have a score > 90.
# Hint: use gt90 and sets
un_gt90 = 
print(un_gt90)

In [ ]:
# find the count of times each letter appears in the df
counts = 
print(counts)

# find the count of times each letter has a score above 90
counts = 
print(counts)

# print the letter that has a score above 90 the most number of times
print('most above 90', )

In [ ]:
# create a dataframe with two columns:
# letter 'a' - 'm'
# state: random from ['WA', 'CA', 'OR', 'NV' ]
# using a comprehension, create a list of letters a-m, inclusive
letters = 
# using random.choice, create a list of length 13 that is a random
# selection of states in ['WA', 'CA', 'OR', 'NV' ]
states =
# create a dataframe that has two columns, 'letter' and 'state' using
# the two lists created above
df2 =

In [ ]:

# join the above DataFrame with this latest dataframe, df2, that has states.
# The joined dataframe should have all 50 rows from df.
df3 = 

# display the first 10 rows of the resulting join.

In [ ]:
# display the state that has the greatest number of unique letters.
most_unique =
print('most unique', most_unique)

# display all those unique letters in that state (any order)
most_unique_letters = 
print(most_unique_letters)

In [ ]:
# for each of these letters, get the highest score they have
# then, display the letters in order from highest to lowest.
# display this as a Series where the index is the letter, and the score is the value.